@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
